* {
    font-family: "Roboto";
    color: #F9FAF8;
    /* outline: 1px solid red; */
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    margin: 5px;
}

.top_section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
}

.main_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

.content1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 380px;
    height: 150px;
}

.content1 p {
    width: 380px;
}

.header a {
    font-size: 18px;
}

.header img {
    height: 30px;
    width: auto;
    background: none;
}

button {
    background-color: #3882f6;
    width: 80px;
    height: 25px;
    border-radius: 7px;
}

.mid_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.mid_section p{
    color: #1f2937;
    text-align: center;
}


h2 {
    font-size: 36px;
    color: #1f2937
}

.main_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 150px;
    width: 380px;
}

.mid_content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}

.mid_content1 .placeholder {
    background-color: gray;
    height: 140px;
    width: 140px;
    border-radius: 10px;
}

.mid_content1 p {
    width: 140px;
}

.mid_content1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 440px;
}

.quote_section p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    width: 730px;
    align-self: center;
}

h6 {
    width: 730px;
    color: #1f2937;
    display: flex;
    justify-content: end;
    font-size: 24px;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

#blue_square {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    height: 100px;
    width: 900px;
    justify-content: space-evenly;
}

#blue_square div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5 {
    font-size: 24px;
}

#blue_square button {
    border-color: white;
    border-radius: 10px;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 60px;
}